/**
 * @file
 * CSS file for the map
 */

/**
 * Main Layout.
 */
html, body {
  height: 100%;
  font-family : Roboto, Arial, sans-serif;
}


.container-fluid, .row, #map-canvas, #sidebar {
  height : 100%;
}

#sidebar {
 background-color: #111;
 color : #EEE;
}

#sidebar-inner {
  padding: 10px;
}

#sidebar form {
  cursor : pointer;
  padding : 10px;
  border : 3px dashed #EEE;
  text-align : center;
  font-family : cursive;
  font-style : italic;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
/*img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}*/

select {
  text-transform : capitalize;
}

/**
 * jGrowl Notification.
 */
#jGrowl.top-left {
}

.jGrowl .jGrowl-notification.error .jGrowl-header {
  color : #FF0000;
}

.jGrowl .jGrowl-notification.warning .jGrowl-header {
  color : #FF8000;
}

.jGrowl .jGrowl-notification.success .jGrowl-header {
  color : #04B404;
}

.jGrowl-header {
  text-transform: capitalize;
}

.jGrowl-message {
  font-size: 0.9em;
}

/**
 * Filename List.
 */
#file-handler.populated {
  background : repeating-linear-gradient(45deg, #DF7401, #DF7401 20px, #FF8000 20px, #FF8000 40px);
  border: 1px solid #FFF;
  margin-top: 10px;
}

#filenameList {
 list-style: none;
 padding : 5px 0px 5px 20px;
 cursor: pointer;
}

#filenameList:hover {
  text-decoration : underline;
}

/**
 * Marker Window.
 */
/*.turnpoints-popup, #turnpoint-config {
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

#turnpoint-config input:focus,
#turnpoint-config select:focus {
  outline: none;
}*/

gm-panel li {
  border: none;
}


/**
 * Tunrpoint configuration window.
 */
#modal-window {
  position: absolute;
  overflow: auto;
  z-index: 10000001;
  width: 60%;
  max-height: 90%;
  left: 20%;
  text-align: center;
  top: 10px;
  background-color: #FFF;
  border-radius: 2px;
  padding: 20px;
  list-style-position : inside;
  border : 1px solid #aaa;
  box-sizing: border-box;
}

.tp-takeoff {
  list-style-image: url("../images/turnpoint/takeoff.png");
}

.tp-start {
  list-style-image: url("../images/turnpoint/start.png");
}

.tp-turnpoint {
  list-style-image: url("../images/turnpoint/turnpoint.png");
}

.tp-end-of-speed-section {
  list-style-image: url("../images/turnpoint/ess.png");
}

.tp-goal {
  list-style-image: url("../images/turnpoint/goal.png");
}

#tp-radius {
  list-style-image: url("../images/turnpoint/radius.png");
}

.tp-entry {
  display: none;
  list-style-image: url("../images/turnpoint/entry.png");
}

.tp-exit {
  list-style-image: url("../images/turnpoint/exit.png");
}

#tp-open {
  list-style-image: url("../images/turnpoint/open.png");
}

#tp-close {
  list-style-image: url("../images/turnpoint/close.png");
}

.tp-cylinder {
  list-style-image: url("../images/turnpoint/cylinder.png");
}

.tp-line, {
  list-style-image: url("../images/turnpoint/line.png");
}

/**
 * Taskboard.
 */
#taskboard {
  margin-top: 10px;
  background-color: #555;
  background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%), 
  linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%);
  background-size:20px 20px;
  background-position: 0 0, 50px 50px;
  min-height: 100px;
  border-radius: 2px;
  border : 1px solid #EEE;
}

#taskboard-header {
  font-weight: bold;
  text-shadow: 0px 0px 10px #DF7401;
  font-style: italic;
  font-family: cursive;
  font-size: 1.1em;
  text-align: center;
}

#taskboard-content li {
  cursor: pointer;
}

#taskboard-content li:hover {
  text-decoration: underline;
}

#taskboard #task-distance {
  margin-top: 10px;
  text-align: right;
  font-size: 1.5em;
  font-style: italic;
  padding-right: 10px;
  font-weight: bold;
}

/**
 * FullBoard (Check Task).
 */
#full-board {
  display : inline-block;
  font-weight: bold;
  text-align: right;
  padding : 0px 5px 0px 20px;
  float: right;
  background: url('../images/arrow.png') left center no-repeat;
  margin-top: 10px;
  cursor: pointer;
  visibility: hidden;
}

#full-board:hover {
  text-decoration: underline;
}

#task-config div {
  display: inline-block;
  padding: 10px;
  color: #000;
  border: 1px solid #ccc;
  text-transform: uppercase;
  text-align: left;
  font-weight : bold;
  box-sizing: border-box;
  margin : 10px 0px;
}

#task-config div span {
  color: #111;
  font-family: cursive;
  font-size: 0.7em;
  font-style: italic;
}

#task-config div.left {
  float: left;
  width: 60%;
}

#task-config div.right {
  float: right;
  width: 39%;
}

#fullboard-type, #fullboard-takeoff, #fullboard-start {
clear : both
}

div#fullboard-times, div#fullboard-right-infos {
  border: none;
  padding: 0px;
}

div#fullboard-times div {
  display: block;
  clear: both;
  margin: 0px;
}

div#fullboard-right-infos div {
  display: inline-block;
  clear: both;
  margin: 0px;
  box-sizing: border-box;
}

div#fullboard-date {
  width: 60%;
}

div#fullboard-window {
  border-bottom-width: 1px;
}

div#fullboard-window span,
div#fullboard-task-deadline li {
  margin: 0 10px;
}

div#fullboard-task-deadline {
  border-top-width: 1px;
}

div#fullboard-task-deadline li {
  display : inline;
  list-style-type : none;
}


div#fullboard-task-deadline li span{
  font-family : cursive;
  font-size: 0.8em;
  font-style: italic;
  font-weight: bold;
}

div#fullboard-turn {
  border: 0px;
  width: 30%;
}

div#fullboard-turn span#fullboard-turn-word {
  font-size: 0.7em;
}

div#fullboard-turn span {
  text-align: center;
  color: #FF0000;
  margin: 0px 10px;
  font-size: 1em;
  margin: 0px;
}

div#fullboard-task span {
  display: block;
  text-transform: uppercase;
  color: #000;
  font: inherit;
  margin: 10px 0px;
}

div#fullboard-task span span {
  display: inline;
}

div#fullboard-task span span,
#task-config li {
  color :#111;
  font-size: 0.8em;
  font-weight: normal;
  font-family: cursive;
  font-style: italic;
}

#task-config span.baseInfo {
  margin-right: 20px;
  font-weight: bold;
  font-size: 0.8em;
}

#task-config ul {
  padding: 0px;
}

#task-config .turnpoint {
  cursor: pointer;
}

#task-config .turnpoint:hover {
  text-decoration: underline;
}

#task-config span.tp-radius,
#task-config span.tp-entry,
#task-config span.tp-exit,
#task-config span.tp-cylinder,
#task-config span.tp-line {
  padding-left: 20px;
}

#task-config span.tp-radius:after {
  content: "M";
}

#task-config span.tp-radius {
  background : url("../images/turnpoint/radius.png") center left no-repeat;
}

#task-config span.tp-entry {
  background : url("../images/turnpoint/entry.png") center left no-repeat;
}

#task-config span.tp-exit {
  background : url("../images/turnpoint/exit.png") center left no-repeat;
}

#task-config span.tp-line {
  background : url("../images/turnpoint/line.png") center left no-repeat;
}

#task-config span.tp-cylinder {
  background : url("../images/turnpoint/cylinder.png") center left no-repeat;
}

span#fullboard-xm {
  float: right;
  font-size:0.4em;
}
