<div id="turnpoint-config" class="modal fade" role="dialog" aria-labelledby="turnpoint-config-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div id="turnpoint-header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="turnpoint-config-label">Turnpoint Configuration</h4>
      </div>
      <div id="turnpoint-content" class="modal-body">
        <form action="#" autocomplete="off" id="turnpoint-form-config">
          <div class="form-group">
            <div class="form-group row" id="tp-type">
              <label for="tp-type-select" class="col-sm-3 form-control-label">Type</label>
              <select id="tp-type-select" class="col-sm-6" name="type" autocomplete="off">
              </select>
            </div>
            <div class="form-group row" id="tp-goal-type">
              <label for="tp-goal-type-select" class="col-sm-3 form-control-label">Goal type</label>
              <select id="tp-goal-type-select" class="col-sm-6" name="goal-type" autocomplete="off">
              </select>
            </div>
            <div class="form-group row" id="tp-radius">
              <label for="tp-radius-input" class="col-sm-3 form-control-label">Radius</label>
              <input id="tp-radius-input" class="col-sm-6" name="radius" type="number" min="200" step="100" value="400">
            </div>
            <div class="form-group row" id="tp-mode">
              <label for="tp-mode-select" class="col-sm-3 form-control-label">Mode</label>
              <select id="tp-mode-select" class="col-sm-6" name="mode" autocomplete="off">
              </select>
            </div>
            <div class="form-group row" id="tp-open">
              <label for="tp-open-input" class="col-sm-3 form-control-label">Opening Time</label>
              <input id="tp-open-input" class="col-sm-6" name="opening_time" type="text">
            </div>
            <div class="form-group row" id="tp-close">
              <label for="tp-close-input" class="col-sm-3 form-control-label">Closing Time</label>
              <input id="tp-close-input" class="col-sm-6" name="close_time" type="text">
            </div>
            <input id="tp-index" type="hidden" name="country" value="">
          </div>
          <div class="modal-footer">
            <button type="button" id="add-turnpoint" class="btn btn-success">Add Turnpoint!</button>
            <button type="button" id="edit-turnpoint" class="btn btn-warning">Edit Turnpoint!</button>
            <button type="button" id="delete-turnpoint" class="btn btn-danger">Delete Turnpoint!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
